/* BookDetailsPage.css */

/* Existing styles */
.book-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Ensures the content fills the entire viewport height */
}

.book-details-container {
  max-width: 600px;
  /* Adjust as needed */
  text-align: center;
  margin-top: 20px;
  /* Adjust as needed */
}



/* Additional styles */
.book-details-container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding-bottom: 250px;
}

.book-details {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  padding-left: 20px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
}

.book-details h2 {
  margin-bottom: 20px;
  color: #fff;
  font-size: xx-large;
  font-weight: bold;
}

.book-details p {
  margin-bottom: 10px;
  color: #fff;
}

.book-details strong {
  font-weight: bold;
  color: #dbac34;
}

.book-details a {
  color: #007bff;
  text-decoration: none;
}

.book-details a:hover {
  text-decoration: underline;
}

/* Ensure the video background stays fixed */
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .book-details-container {
    padding-bottom: 150px;
  }

  .book-details {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .book-details-container {
    padding-bottom: 100px;
  }

  .book-details {
    max-width: 90%;
    padding: 10px;
  }

  .book-details h2 {
    font-size: large;
  }
}